body {
    display: block;
    color: #c0c0c0;
}

.navbar-sticky-outer .navbar-sticky-inner.stuck-top, .navbar-sticky-inner {
    top: 0;
    background-color: #2e3136 !important;
}

.page-section.page-section-light, .product-gallery .thumbnail, .card-heading .thumbnail, .product-gallery-image, .page-skin-inner, .page-section, .panel, .footer, .auth-body, .emg-body-overlay {
    background-image: linear-gradient(#232526, #414345);
}

.navbar-main, .navbar-product, .product-compare-trigger, .btn-default, .btn-product-option, .btn-product-option.active {
    background-color: #1e2125;
    color: #0f8fff;
    border-color: #0f8fff;
}

.btn-product-option.active:hover, .btn-default:active, .btn-default:focus, .btn-default:hover, .btn-product-option:hover {
    background-color: #414345 !important;
    color: #0f8fff !important;
}

.btn-product-option, .btn-product-option.active{
    border-color: #666;
}

.alert-info, .well, .gui-btn .gui-btn-escape, #defaultVoucherUserCodeSubmit, .info-widget, .emg-fluid-header .emg-fluid-header-wrapper .emg-fluid-centered-header, .emg-fluid-header.emg-fluid-floating.emg-fluid-preload-sticky .emg-fluid-header-wrapper{
    background-color: #333333;
}
.footer, .footer .footer-aux, .footer .footer-content, .footer .footer-copy, .cart-footer, .cart-box, .emg-page-container .cart-vendor-container, .cart-summary-container{
    background-color: #414345;
    border-top: none;
}

.navbar-aux, .navbar-aux-content, .js-load-more, .po-panel-toggler, .megamenu-list, .js-megamenu-list-department, .megamenu-details, .card{
    background-color: #2e3136 !important;
}

.navbar-sticky-outer .navbar-sticky-inner .navbar-nav>li.active>a,.navbar-sticky-outer .navbar-sticky-inner .navbar-nav>li.active>a:focus,.navbar-sticky-outer .navbar-sticky-inner .navbar-nav>li.active>a:hover {
    background-color: rgba(0, 0, 0, .5);
}

.page-header.has-subtitle-info {
    border-bottom: 1px solid #444;
}

.answer-load-more {
    background-image: none;
}

.page-title, .megamenu-item-title, label, strong, h4, h3, h2, h1 {
    color: #f0f0f0;
}

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: rgba(0,0,0,.1);
}

.megamenu-active {
    border-bottom: none;
    border-top: none;
}

.thumbnail-wrapper {
    border: 1px solid #222;
}

.mrg-btm-xs {
    margin-bottom: 0;
}

a {
    color: #0f8fff !important;
}

p, td, i, s, .js-review-body, .panel-resealed .panel-resealed-text, .product-title, .small, .form-auth p, .gui-input, .gui-info-header p {
    color: #c0c0c0;
}

img, .panel-offers-container .product-thumbnail .thumbnail-wrapper, .nav-product-line_image, .nav-history-tabs, .navbar-product .thumbnail-wrapper {
    mix-blend-mode: multiply;
    border: none;
    padding: 0 !important;
}

img:hover, .panel-offers-container .product-thumbnail .thumbnail-wrapper:hover, .nav-product-line_image:hover, .nav-history-tabs:hover, .navbar-product .thumbnail-wrapper:hover {
    mix-blend-mode: initial;
}

.product-gallery-image img {
    mix-blend-mode: initial;
    opacity: 0.1;
    transition: opacity 1s;
    border: none;
}
.btn-product-option.disabled>img {
    opacity:1;
}

.product-gallery-image img:hover {
    opacity: 0.7;
}

a.product-gallery-image {
    border: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.navbar-brand img, .mktp-banner-sell-with-emag .marketplace-banner-background, .mktp-logo-img, .app-badge img, .inline-block-middle img, .thumbnail .js-back-to-top, .inline-block--middle img{
    mix-blend-mode: initial;
}

#auxiliary span {
    color: white;
}

.collapse-offset:before {
    content: normal;
}

hr, .product-review-item+.product-review-item, .question-answers-list>div:first-child .answer-item, .question-item+.question-item {
    border-top: 1px solid #444;
}

.reviews-sort-options .placeholder-search-results:empty:after, .answer-item, .modal-header {
    border-bottom: 1px solid #444;
}

.ph-popup.my-account-dropdown-logged-out .dropdown-footer, .ph-dropdown-inner, .ph-popup.ph-dropdown-popup .ph-dropdown-inner, .gui-input, .form-auth .auth-input-masked, .searchbox-dropdown {
    background: #2e3136;
}

.ph-popup-e.ph-popup-bottom>a {
    color: #fff;
}

.progress, .form-control, .label-neutral, .btn-seo-links, .nav-product-list-group .nav-product-container:hover, .pagination .pagination-sm li, .modal-content, .modal-body+.modal-body, .emg-page-container .gui-info-box, .listing-panel, .listing-panel-heading, .listing-panel-body, .listing-panel-footer, .sidebar-tree, .sidebar-container-element.sidebar-container-category, sidebar-container-body, .card-section-mid-inner, .card-body, .filter:last-child, .filter-head, .filter-body, .collapse.in, .card-footer .hidden-xs, .ph-widget, .show-me-a-grid .card-section-mid .card-section-mid-inner, .sidebar-filter-container .sidebar-container-body, .card-section-mid:after, .show-me-a-grid .card-section-mid+.card-section-btm, .show-me-a-grid .card-section-mid:after, .card-footer:last-child {
    background-color: #222;
}

.form-control, .nav-product-list-group .nav-product-container, .well {
    border: 1px solid #444;
}

.megamenu-item.megamenu-item-heading.megamenu-item-first-relative, .megamenu-item.megamenu-item-heading {
    background-color: transparent;
}

.form-control {
    background-color: #444;
}

.searchbox-input:before {
    border-color: transparent #444 transparent transparent;
}

.ph-popup.ph-dropdown-popup.ph-popup-bottom .ph-dropdown-inner:before {
    background-image: none;
}

.dropdown-footer, .modal-body+.modal-body {
    border-top: 1px solid #666;
}

#user-related-phonenumber, .product-carousel.ph-has-arrows .ph-left-margin, .product-carousel.ph-has-arrows .ph-right-margin, .form-auth, .cart-checkout-step {
    background-color: rgba(0,0,0,.15);
}

.form-auth {
    box-shadow: 1px 2px 5px rgba(0,0,0,.15);
}

.auth-footer #links {
    border-bottom: none;
}

#main-container > section:nth-child(2), #main-container > section:nth-child(3), #main-container > section:nth-child(6), #main-container > section:nth-child(8), #main-container > section:nth-child(9), #main-container > section:nth-child(10), #seo-links, #navigation-history {
    background: #232526;
}

.modal-content, .modal-body+.modal-body {
    border: 1px solid #333;
}

.cart-widget .cart-line, .emg-page-container .cart-widget {
    background-color: rgba(255,255,255,0);
}

.emg-page-container .cart-vendor-container .cart-widget, .cart-widget .donation-line, .emg-page-container .cart-widget {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}

.emg-page-container .emg-button, .gui-info-message, .emg-page-container .order-summary-widget .order-summary-total .title, .step-title, .summary-total-container .total-price {
    color: #fff !important;
}
/* TODO: Move this section to "share.css" */


/* Assistant */
#emg-web-speech {
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 500px;
    height: 100px;
    background: linear-gradient(to right, #136a8a, #267871);
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.15);
    z-index: 10000;
    display: none;
}

.final {
    color: #222;
    padding-right: 3px;
}

.interim {
    color: gray;
}

.info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
}

.right {
    float: right;
}

#info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
}

#results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #1f80dd;
    padding: 15px;
    text-align: left;
    /*min-height: 150px;*/
}

#start_button {
    border: 0;
    background-color: transparent;
    padding: 0;
}
